<div class="container">
  <div class="row">
    <div class="col-md-6">
      <h2>List of emails</h2>
      <%= button_to "Receive an email", emails_path, data: { turbo_frame: "new_email" }, class: "btn btn-primary btn-block" %>
      <%= turbo_frame_tag "new_email" do %>
        <table class="table">
          <thead>
            <tr>
              <th>Object</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td>
                <ul id="email-list">
                  <% @emails.each do |email| %>
                    <li>"<%= email.object %>"</li>
                  <% end %>
                </ul>
              </td>
            </tr>
          </tbody>
        </table>
      <% end %>
    </div>
    
    <div class="col-md-6">
      <h2>Email selected</h2>
      <div id="selected-email">
        <%=render 'email', email: @email%>
      </div>
    </div>
  </div>
</div>
